body{
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/white_brick_wall.png);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
}

nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
}
nav ul a {
    display: block;
}
h1{
    color: peru;
}
p{
    background-color: lightblue;
}
h1, h2, h3, h4 {
    text-decoration: underline;
}
nav ul{
    list-style: none;
}
nav ul a{
    color: inherit ;
    text-decoration: none;
}

.orange-link.large-text{
    position: absolute;
    bottom: 0;
    right 0;
}
#drinkofweek {
    position: relative;
    /* colour image repeat position-x position-y */
    background: orange url(../images/bread.jpg) no-repeat center center;
    background-size: cover; 
    color: white;

    font-size: 1.25rem;
    padding: 1em 1em 5em 1em;

    width: 50%;
}
.orange-link{
    background-color: darkslategrey;
    color: orange; 
    text-decoration: none;
    padding: 1.5em;
    display: block;
    width: 300px;
}
article,
aside{
    width: 80%;
    background-color: rgba(255, 255, 255, 0/6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}
aside{
    width: 20%;
}
section{
    clear: both;
}
.large-text{
    font-size: 24px;
}
article > p{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}
h3+ul{
    border: 1px solid black;
}
[href="#drinkofweek"]{
    font-weight: bold;
}

nav ul a, 
nav ul a:link,
nav ul a:visited {
    background-color: orange;
    /*  horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}
nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
}
nav ul a:active {
    box-shadow: 0 0 4px 2px black;
}
aside ul li:first-child{
    font-weight: bold;
}
section ol li:last-child {
    font-weight: bold;
}
table{
    border-collapse: collapse;
}
tbody tr:nth-child(even) {
    background-color: #d5836c;
}
table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid #000;
}
table td:nth-child(2n+1) {
    background-color: rgba(0,0,0,0.2);
}
footer {
    background-color: teal;
}
section h3 {
    background-color: cornflowerblue;
    padding: 1em;
    width: 50%;
}
section p {
    width: 50%;
    padding: 1em .5em;
    margin: -2em 2em 2em 2em;
    border-bottom: 2px dashed black;
}